#main{
    background:wheat;
    width: 90%;
    left: 5%;
    position: fixed;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
#table-load{
    background-color: beige;
    border: 2px solid white;
    border-radius: 7px;
}
td{
    padding: 10px;
}
#messege{
    color: red;
}