#main{
    background:wheat;
    width: 90%;
    left: 5%;
    position: fixed;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
#table-load{
    background-color: beige;
    border: 2px solid white;
    border-radius: 7px;
}
td{
    padding: 10px;
}
#messege{
    color: red;
}
.del{
    background-color:rgb(230, 56, 56);
    color: white;
    border-radius: 7px;
    border: 0px;
    height: 30px;
    width: 70px;
}
.del:hover{
    background-color: brown;
}
